{
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "importOrder": ["<THIRD_PARTY_MODULES>", "^../(.*)", "^./(.*)", "(.sass)$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
